body{
    background-color: #e2e6e3;
}
#bigbox{
    width: 800px;
    height: 700px;
    margin: auto;
    background-color: white;
}

#bigbox2{
    height: 1000px;
    width: 800px;
    align-items: center;
}

#paymentcontainer{
    width: 100%;
    align-items: center;
    margin:auto;
    display: flex;
    height: 55%;
    border-radius: 15px;
    border: solid rgb(219, 214, 214) 1px;
    margin-bottom: 30px;
    border-left:solid rgb(79, 79, 190)5px ;
}


#logoplus{
    width: 70px;
    padding: 20px;
    border: solid #ebe6e6 1px;
}

#con1{
    width: 45%;
    margin: auto;
    margin-left: 7px;
    font-family: helvetica,Segoe UI,Arial,sans-serif;
    border: solid rgb(219, 214, 214) 1px;
    padding: 20px;
    padding-bottom: 100px;
}

#con2{
    width: 55%;
    margin: auto;
    margin-left: 50px;
    padding-top: 25px;
    font-family: helvetica,Segoe UI,Arial,sans-serif;
}



#line1{
    display: flex;
    margin:auto;
}

#line2{
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15px;
}


#line31{
    font-size: 16px;
    margin-top: 25px;
    margin-left: 15px;

}
#line32{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 15px;
}

#line4{
    font-size: 9px;
    color: silver;
    margin-top: 18px;
    margin-bottom: 22px;
    width: 100%;
    margin-left: 15px;
}


#imgpay{
    width: 100%;
    height: 120px;
    margin: auto;
    align-items: center;
}

#con2{
    width: 55%;
    margin-top: 10px;
}

.paylist{
    list-style: none;
}

#endlogo{
    height: 35px;
    width: 55px;
    margin: auto;
    padding: 20px;
    margin-right: 20px;
    margin-left: 0px;
    align-items: center;
}


#linends{
    color: silver ;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.flexit{
    display: flex;
}

#ine1{
    font-size: 11px;
    color: #8E8E8E;
} 

.inee{
    color: #2e2e2e;
    font-size: 14px;
    font-weight: lighter;
}

.inputee{
    height: 35px;
    opacity: 50%;
    font-size: 14px;
}

#checkee{
    color: #8E8E8E;
    font-size: 12px;
}

#procee{
    width: 340px;
    border-radius: 4px;
    background-color: #4a90e2;
    text-align: center;
    height: 40px;
    color: #fff;
    margin-top: 25px;
}