*{
    font-family: 'Noto Sans', sans-serif;
}


#login_navbar{
    /* border: 1px solid red; */
    width: 80%;
    height: 60px;
    background-color: rgb(0,146,112);
    margin: auto;
    margin-bottom: 10px;
}
#login_navbar>div>img{
    margin-top: 6px;
    margin-left: 20px;
    height: 45px;
    cursor: pointer;
}

#login_navbar1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 100px;
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
  
}
#login_left{
    width: 20%;
    height: 40px;
    display: flex;
    margin-left: 15px;
}
#login_right{
    width: 13%;
    height: 40px;
    margin-right: 10px;
}
#login_right>img{
 margin-top: 10px;
 height: 40px;
}
#login_left>div>p{

    padding-top: 4px;
    color: rgb(88, 85, 85);

}
hr{
    color: grey;
    width:70%;
}

#OTP_main{
    margin: auto;
    width: 35%;
    height: 250px;
    margin-top: 50px;
    
}
#OTP_main>p{
    margin-left: 110px;
}
#OTP_main>h1{
    
    margin-left: 80px;
}
#OTP_main>form>p{
    
    margin-left: 40px;
}
form>input{
    width:55% ;
   height:25px;
   margin-left: 110px;
   
    
}
#otp_continue{
    width: 25%;
    background-color: #009270;
    border-radius: 10px;
    margin-left:195px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
}
#otp_continue:hover{
    background-color: #01664e;
}
#frontPage{
    cursor: pointer;
}